<!DOCTYPE html>
<html>
<head>
    <title>Web Translator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script>
        function translateText() {
            const textToTranslate = document.getElementById('textToTranslate').value;
            const translationType = document.getElementById('translationType').value;
            
            fetch(`/${translationType}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ 'textToTranslate': textToTranslate })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('translatedText').innerText = data.translatedText;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <h1 class="my-4">Web Translator</h1>
        <div class="form-group">
            <label for="textToTranslate">Text to be translated</label>
            <textarea class="form-control" id="textToTranslate"></textarea>
        </div>
        <div class="form-group">
            <label for="translationType">Translation Type:</label>
            <select class="form-control" id="translationType">
                <option value="englishToFrench">English to French</option>
                <option value="frenchToEnglish">French to English</option>
            </select>
        </div>
        <button class="btn btn-primary" onclick="translateText()">Translate</button>
        <div class="mt-4">
            <label for="translatedText">Translated Text:</label>
            <div class="border rounded p-2" id="translatedText"></div>
        </div>
    </div>
</body>
</html>
